# GITHUB PROJECT
GITHUB_PROJECT_URL="https://github.com/nivpenso/plant-doc-pico"

# Wi-Fi configuration
WIFI_SSID = ""
WIFI_PASSWORD = ""

# InfluxDB configuration
INFLUXDB_URL = ""
INFLUXDB_USER = ""
INFLUXDB_PASSWORD = ""
INFLUX_DB_TOKEN = ""
